h1 
{
     text-align: right;
     width: 1600px;
     font: italic 150% Helvetica;
}

#navmenu {
		position: -webkit-sticky;
		position: sticky; 
        font: italic 150% Helvetica;
        color: #1D3557;
		top: 20px;
		width: 1000px;
		margin: -35px 285px;
		z-index: 1;
		}

#navmenu, ul.sub1, ul.sub2 {
		list-style-type: none;
		font-size: 9pt;
		}
		
#navmenu li {
		width: 160px;
		text-align: center;
		position: relative;
		float: left;
		margin-right: 4px;
		}
		
#navmenu a {
		text-decoration: none;
		display: block;
		width: 160px;
		height: 25px;
		line-height: 25px;
		background-color: #A8DADC;
		border: 2px solid #457B9D;
		border-radius: 5px;
		}
		
#navmenu .sub1 li {
		}
		
#navmenu .sub1 a {
		margin-top: 5px;
		}
		
#navmenu .sub2 a {
		margin-left: 3px;
		}
		
#navmenu li:hover > a {
		background-color: #F1FAEE;
		}
		
#navmenu li:hover a:hover {
		background-color: #F1FAEE;
		}
		
#navmenu ul.sub1 {
		display: none;
		position: absolute;
		top: 26px;
		left: 0px;
		}
		
#navmenu ul.sub2 {
		display: none;
		position: absolute;
		top: 0px;
		left: 126px;
		}
		
#navmenu li:hover .sub1 {
		display: block;
		}
		
#navmenu .sub1 li:hover .sub2 {
		display: block;
		}
#home_image 
		{
	    display: block;
	    padding-top: 15px;
	    margin: auto;
	    margin-top: 15px;
	    width: 95%;
	    float: center;
	}
#text
		{
		position: absolute;
		top: 210px;
		left: 30px;
		right: 30px;
		color: white;
		text-align: justify;
		text-shadow: black;
		letter-spacing: 3px;
		line-height: 20px;
		}
#button a {
        text-decoration: none;
        text-align: center;
        font: italic 100% Helvetica;
        display: block;
        width: 160px;
        height: 20px;
        line-height: 25px;
        background-color: #A8DADC;
        border: 2px solid #457B9D;
        border-radius: 5px;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid red;
        }
